<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag 'style' %>
    <title>BrainTrap - Anatomy Ontology Search Results</title>
    <link rel="shortcut icon" href="/braintrap/favicon.ico" />
  </head>
  <body>
    <div class="rbody">
      <div class="head">
        <%= render(:partial => "shared/head") %>
      </div>

      <div class="maintext">
        <p style="color: green"><%= flash[:notice] %></p>
        <h2>Interaction search results</h2>

		<p><%= @message %></p>

      </div>

      <div class="foot">
        <%= render(:partial => "shared/foot") %>
      </div>

    </div>
<%= render(:partial => "shared/track") %>
  </body>
</html>