<h2>Click Auto Link button to make changes</h2>

<p>
	<%=@message%>
</p>
		

  <% form_tag :action => 'autolink' do %>

    <p>
    <%= submit_tag "Auto Link" %>
    </p>

  <% end %>
<%= link_to 'Back', :action => 'list' %>
