<%if @page > 1 %>
  <%= link_to '&lt; Previous', { :page => @page - 1, :params => @keep_params } %>
<% else %>
  <span class="disabled">&lt; Previous</span>
<% end %>

<% for pi in (1..@npages) %>
  <% if pi == @page %>
    <%= pi %>
  <% else %>
    <%= link_to(pi, :page => pi, :params => @keep_params) %>
  <% end %>
<% end %>

<% if @page < @npages %>
  <%= link_to 'Next &gt;', { :page => @page + 1, :params => @keep_params } %>
<% else %>
  <span class="disabled">Next &gt;</span>
<% end %>