<%= error_messages_for 'line' %>

<!--[form:line]-->
<p><label for="line_name">Name</label><br/>
<%= text_field 'line', 'name'  %></p>

<p><label for="line_comments">Comments</label><br/>
<%= text_area 'line', 'comments'  %></p>
<!--[eoform:line]-->

