<% if @gene %>
<h2>Listing lines for gene <%= @gene.gene %> (Page <%= @page %> of <%= @npages %>)</h2>
<% else %>
<h2>Listing lines (Page <%= @page %> of <%= @npages %>)</h2>
<% end %>
<p>
  <%= render(:partial => "shared/pagelinks") %>
</p>

<table class="grid" cellspacing="1" cellpadding="0">
  <tr>
	<th>CPTI</th>
	<th>Gene</th>
	<th>Gene ID</th>
    <th colspan="2"></th>
  </tr>

  <% for line in @lines %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%=h line.name%></td>
      <td><%=h line.gene%></td>
      <td><%=h line.geneid%></td>
      <!--td><%= link_to 'Images', :controller => 'stack', :stack_line_id => line.id %></td-->
      <td><%= link_to 'Details', :action => 'show', :id => line.id %></td>
      <td nowrap><%= link_to_flyprot_cpti line.name %></td>
      <%#td><%= link_to 'Edit', :action => 'edit', :id => line.id %-></td%>
      <% # td><%= link_to 'Destroy', { :action => 'destroy', :id => line.id }, :confirm => 'Are you sure?', :method => :post %-></td %>
    </tr>
  <% end %>
</table>

<p>
  <%= render(:partial => "shared/pagelinks") %>
</p>

<%#= link_to 'New line', :action => 'new' if current_user.admin %>
