<p>Welcome to BrainTrap - The <i>Drosophila melanogaster</i> Brain Protein Trap Database.</p>
<p>Please enter your details below to sign up.</p>

<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<p><%= link_to 'log in', :action => 'login' %></p>
<% end -%>
